body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #3f4850;
    padding: 0 20px;
  }
  
  h2 {
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 52px 0 40px;
    text-transform: uppercase;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .search-form {
    max-width: 460px;
    display: flex;
    margin: 0 auto 32px;
  }
  
  .search-form button {
    outline: none;
    background-color: #1A73E8;
    border: none;
    padding: 0px 25px 0 15px;
    border-radius: 0 2em 2em 0;
    cursor: pointer;
    transition: 0.2s;
  }
  
  input {
    font-size: 1em;
    width: 100%;
    background-color:none;
    padding: 15px 20px;
    border: 2px solid rgba(0,0,0,0.1);
    border-right: none;
    border-radius: 2em 0 0 2em;
    outline: none;
  }

  input::placeholder {
    color: rgba(0,0,0,0.5);
  }
  
  .main-nav li {
    width: 100%;
    margin-bottom: 1em;
  }
  
  .main-nav a {
    display: block;
    background: none;
    border-radius: 100px;
    border: 2px solid rgba(0,0,0,0.1);
    padding: 10px 20px;
    color: rgba(0,0,0,0.5);
    transition: 0.2s;
  }
  
  .main-nav .active,
  .search-form button:hover {
    background-color: #1567d4;
    color: white;
    font-weight: 500;
  }

  .main-nav a:hover {
    background-color: rgba(0,0,0,0.02);
    color: rgba(0,0,0,0.5);
  }
  
  .photo-container ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  
  .photo-container ul li {
    width: 250px;
    height: 165px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .photo-container ul img {
    width: 100%;
    transform: scale(1.25);
    transition: transform 1.25s;
  }
  
  .photo-container li:hover img {
    transform: scale(1.65);
  }
  
  .photo-container .not-found {
    width: 100%;
  }
  
  @media only screen and (max-width: 767px)  {
    body {
      padding-top: 2em;
    }
  
    .photo-container li {
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 768px)  {
    body {
      padding-top: 4em;
    }
  
    .container {
      max-width: 1080px;
      margin: auto;
    }
  
    .main-nav ul {
      display: flex;
      justify-content: center;
    }
    
    .main-nav li {
      margin: 10px;
      width: 100px;
    }
  }
  